* {
    border: none;
    border-radius: 0;
    font-family: "RobotoMono Nerd Font [GOOG]", "Symbols Nerd Font", "DejaVu Sans";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(100, 100, 100, 0.5); */
    background: rgba(22, 22, 22, 0.95);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: white;
}

tooltip {
    background: rgb(43, 48, 59);
    border: 1px solid rgb(100, 114, 125);
}

tooltip label {
    color: white;
}

#workspaces {
    padding: 0;    
}

#workspaces button {
    padding: 0;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background-color: rgb(100, 114, 125);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}


#mode,
#workspaces,
#cpu,
#memory,
#backlight,
#network,
#tray,
#mode,
#scratchpad,
#window,
#custom-gpu_status {
    padding: 4px 5px;
}

#idle_inhibitor {
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 5px;
}

#clock {
    padding-bottom: 10px;
}

#window {
    background: rgba(255, 255, 255, 0.05);
}

window#waybar.empty #window {
    background: transparent;
}

#mode {
    background: rgba(255, 255, 255, 0.05);
}


#battery {
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

#battery.full {
    color: #ffffff;
    background-color: rgba(20, 193, 199, 0.662);
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: rgba(38, 166, 91, 0.662);
}


#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pulseaudio.muted {
    background-color: rgba(27, 145, 145, 0.666);
    
    /* color: #2a5c45; */
}

#tray {
    background-color: rgba(255, 255, 255, 0.05);
    padding-bottom: 10px;
    padding-top: 10px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: rgba(255, 255, 255, 0.158);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}


#custom-notification {
    padding-bottom: 10px;
    padding-left: 3px;
}

/* separators */

#workspaces, 
#custom-notification {
    padding-top: 10px;
    border-top: 1px solid rgb(100, 114, 125);
}

#taskbar {

    background: rgba(255, 255, 255, 0.05);
    padding-bottom: 10px;
    margin-top: 10px;
}

#taskbar button {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}

#taskbar.empty {
    background: transparent;
}