:root {
  /* add rounding */
  --uc-border-radius: 10px;

  --uc-toolbar-position: 4;

  --show-tab-close-button-hover: -moz-inline-block;


  --toolbar-field-focus-background-color: none !important;
  --toolbarbutton-hover-background: none !important;
}

/* Hide the »Go«-arrow in the URL Bar */
/* #urlbar-go-button { display: none !important; } */


/* #identity-permission-box { display: -moz-box !important; } */

/* this may always show the extensions button*/
#unified-extensions-button {
  display: -moz-box !important;
}

/* .urlbarView-row[selected] > .urlbarView-row-inner {
  background: var(--lwt-selected-tab-background-color) !important;
} */

/* .urlbarView-row[selected] > .urlbarView-row-inner {
  background: transparent !important;
} */

/* only show Navigation Buttons when available */
#back-button[disabled="true"],
#forward-button[disabled="true"] {
  display: none;
}

:root {
  /*  Width of the URL Bar for the Oneline layout
   *  If enabled the max-width is applied on focus
   *  otherwise the URL Bar will always be it's min-width
   */
  --uc-urlbar-min-width: 30vw;
  --uc-urlbar-max-width: 35vw;
}

#unified-extensions-button{
  width: 4px;
  padding-inline: 0 !important
}
#unified-extensions-button > .toolbarbutton-icon {
  width: 0 !important;
}

#navigator-toolbox:not(:-moz-lwtheme) { background: white !important; }
